extends layout
block content
  //link(rel="stylesheet" href="/stylesheets/signin.css")
  link(rel="stylesheet" href="/stylesheets/navbar-fixed-top.css")
  //h1= title
  include nav.jade
  .container
    .panel.panel-info
      .panel-heading
        //.container
        h1.text-center 账号管理
      .panel-body
        .col-sm-4.col-sm-offset-4.text-center
          h4 <strong>账号列表</strong>
        .col-sm-12
          hr
        table.table.table-condensed.table-striped
          thead
            td #
            td 账号名称
            td 分配权限
            td 可用状态
            td 删除账号
            td 重置密码
          tr
            td 1
            td admin
            td 不 限
            td
              button.btn.btn-default.btn-xs.btn-success(type="button") 启 用
            td
              button.btn.btn-default.btn-xs.btn-danger(type="button") 删 除
            td
              button.btn.btn-default.btn-xs.btn-info(type="button") 重 置

        .col-sm-4.col-sm-offset-4.text-center
          h4 <strong>添加新账号</strong>
        .col-sm-12
          br
        form(role="form", action="/account", method="POST")
          .col-sm-12
            div(style="width: 50%; float: left;")
              .input-group
                span.input-group-addon 账号名称
                input.form-control(type="text", name="username", autofocus="autofocus", placeholder="输入账号名称", required="required")
            div(style="width: 50%; float: left;")
              .input-group
                span.input-group-addon 可用状态
                select.form-control(name="status")
                  option(value='enable') 可用
                  option(value='disable') 禁用
          .col-sm-12
            br
            div(style="width: 50%; float: left;")
              .input-group
                span.input-group-addon 登录密码
                input.form-control(type="password", name="password", placeholder="输入登录密码", required="required")
            div(style="width: 50%; float: left;")
              .input-group
                span.input-group-addon 确认密码
                input.form-control(type="password", name="retryPassword", placeholder="再次输入相同登录密码", required="required")
          .col-sm-12
            br
            div(style="width: 50%; float: left;")
              .input-group
                span.input-group-addon 访问区域
                select.form-control(name="area")
                  option(value='0') 无限区域
                  option(value='1') 塔峰镇
                  option(value='2') 竹管寺镇
                  option(value='3') 总市办事处
                  option(value='4') 祠堂圩乡
                  option(value='5') 蓝屏办事处
                  option(value='6') 楠市镇
            div(style="width: 50%; float: left;")
              .input-group
                span.input-group-addon 访问权限
                select.form-control(name="permission")
                  option 无限制
                  option 只读
          .col-sm-6.col-sm-offset-3
            br
            button.btn.btn-block.btn-default.btn-success(type="submit") 新增账号

  script(src="/javascripts/account.js")