extends layout
block content
  h3= title
  ul
    each val, index in postMessage
      - if (val && typeof val == 'object')
        each v, i in val
          li= i + ' = ' + v
      - else
        li= index + ' = ' + val