extends layout

block content
  //link(rel="stylesheet" href="/stylesheets/navbar-fixed-top.css")
  //h1= title
  include nav.jade
  .container
    h1.text-center 用户操作手册
    br
    p 建立本信息库以提高劳动者就业质量为目标，县乡联动、部门协作，建成项目全、信息真、数据准的劳动力资源信息库，为服务经济发展、提高劳动力就业水平提供信息支持。
    h2 操作指导
    ul
      li 登录系统
        p 使用指定的账号登录系统，不同的区域需要不同的账号进行管理
      li 录入信息
        p 将采集到的劳动力信息录入电脑信息库
      li 获取台账
        p 根据不同的输入参数，生成预定义的台账
      li 检索
        p 根据输入的参数，检索整个数据库，得出相关条目列表
      li 管辖区域
        p 显示所用登录账号所能管辖的区域，用户只能对管辖内的劳动力数据进行操作
      li 系统管理
        p 只有系统及用户登录才能看到，用于系统管理，如账号管理等
      li 退出
        p 安全退出本系统，以防非授权人员非法修改数据