extends layout
block content
  //link(rel="stylesheet" href="/stylesheets/signin.css")
  link(rel="stylesheet" href="/stylesheets/navbar-fixed-top.css")
  //h1= title
  include nav.jade
  .container
    form.panel.panel-info(action="/item", method="POST")
      .panel-heading
        //.container
        h1.text-center 劳动力资源调查登记表
      .panel-body
        .col-sm-9
          .input-group
            span.input-group-addon 姓 名
            input.form-control(type="text", name="username", placeholder="输入姓名")
            span.input-group-addon 身份证号
            input.form-control(type="text", name="idNumber", placeholder="输入身份证号")
          .input-group
            span.input-group-addon 民 族
            input.form-control(type="text", name="nation", placeholder="输入民族")
            span.input-group-addon 年 龄
            input.form-control(type="text", disabled="disabled")
            span.input-group-addon 性 别
            input.form-control(type="text", disabled="disabled")
          .input-group
            span.input-group-addon 婚姻状况
            select.form-control(name="marriage", placeholder="是否结婚")
              option(value="0") 未婚
              option(value="1") 已婚
            span.input-group-addon 文化程度
            select.form-control(name="education")
              option(value="0") 初中及以下
              option(value="1") 高中
              option(value="2") 职业高中
              option(value="3") 技工学校
              option(value="4") 中专
              option(value="5") 大专
              option(value="6") 大学以上
          .input-group
            span.input-group-addon 联系电话
            input.form-control(type="text", name="phone", placeholder="输入联系电话（可输入多个）")
          .input-group
            span.input-group-addon 户籍地址
            input.form-control(type="text", name="address", placeholder="输入户籍所在地址")
        .col-sm-3
          img.img-thumbnail(src="/images/test.jpg", alt="- - 正面免冠照片 - -", style="height:170px;")
        .col-sm-12
          br
        .col-sm-12
          .panel.panel-default
            .panel-heading.text-center
              strong 参保情况（多选）
            .panel-body
              .col-sm-4
                label.checkbox-inline 城乡居民养老保险
                  input(type="checkbox", name="insurance0")
              .col-sm-4
                label.checkbox-inline 新型农村合作医疗保险
                  input(type="checkbox", name="insurance1")
              .col-sm-4
                label.checkbox-inline 企业职工基本养老保险
                  input(type="checkbox", name="insurance2")
              .col-sm-4
                label.checkbox-inline 企业职工基本医疗保险
                  input(type="checkbox", name="insurance3")
              .col-sm-4
                label.checkbox-inline 失业保险
                  input(type="checkbox", name="insurance4")
              .col-sm-4
                label.checkbox-inline 工伤保险
                  input(type="checkbox", name="insurance5")
              .col-sm-4
                label.checkbox-inline 生育保险
                  input(type="checkbox", name="insurance6")
        .col-sm-12
          .panel.panel-default
            .panel-heading.text-center
              strong 就业情况
            .panel-body
              include jobSpec.jade
        .col-sm-12
          .panel.panel-default
            .panel-heading.text-center
              strong 培训情况
            .panel-body
              .col-sm-12
                .input-group
                  span.input-group-addon 现有技术等级
                  select.form-control(name="technicalGrade")
                    option(value="0") 无
                    option(value="1") 初级技工
                    option(value="2") 中级技工
                    option(value="3") 高级技工
                    option(value="4") 技师
                    option(value="5") 高级技师
                  span.input-group-addon 是否参加过培训
                  select.form-control(name="trainingStatus")
                    option(value="0") 未参加过任何培训
                    option(value="1") 农村劳动力技能培训
                    option(value="2") 其他培训
                  span.input-group-addon 参加过的培训
                  input.form-control(type="text", name="postTraining", list="course", placeholder="输入培训名称")
                  datalist#course
                    option 服装缝纫
                    option 制鞋
                    option 电子技术
                    option 电脑
                    option 家电维修
                    option 电工
                    option 焊工
                    option 数控车床
                    option 家政服务
                    option 保安
                    option 烹饪
                    option 服务员
                    option 美容美发
                    option 商业营销
              .col-sm-12
                br
              .col-sm-12
                .panel.panel-default
                  .panel-heading.text-center
                    strong 参加农村劳动力技能培训意向（多选）
                  .panel-body
                    .col-sm-3
                      label.checkbox-inline 服装缝纫
                        input(type="checkbox", name="preferredTraining0")
                    .col-sm-3
                      label.checkbox-inline 制鞋
                        input(type="checkbox", name="preferredTraining1")
                    .col-sm-3
                      label.checkbox-inline 电子技术
                        input(type="checkbox", name="preferredTraining2")
                    .col-sm-3
                      label.checkbox-inline 电脑
                        input(type="checkbox", name="preferredTraining3")
                    .col-sm-3
                      label.checkbox-inline 家电维修
                        input(type="checkbox", name="preferredTraining4")
                    .col-sm-3
                      label.checkbox-inline 电工
                        input(type="checkbox", name="preferredTraining5")
                    .col-sm-3
                      label.checkbox-inline 焊工
                        input(type="checkbox", name="preferredTraining6")
                    .col-sm-3
                      label.checkbox-inline 数控车床
                        input(type="checkbox", name="preferredTraining7")
                    .col-sm-3
                      label.checkbox-inline 家政服务
                        input(type="checkbox", name="preferredTraining8")
                    .col-sm-3
                      label.checkbox-inline 保安
                        input(type="checkbox", name="preferredTraining9")
                    .col-sm-3
                      label.checkbox-inline 烹饪
                        input(type="checkbox", name="preferredTraining10")
                    .col-sm-3
                      label.checkbox-inline 服务员
                        input(type="checkbox", name="preferredTraining11")
                    .col-sm-3
                      label.checkbox-inline 美容美发
                        input(type="checkbox", name="preferredTraining12")
                    .col-sm-3
                      label.checkbox-inline 商业营销
                        input(type="checkbox", name="preferredTraining13")
                    .col-sm-3
                      label.checkbox-inline 其他
                        input(type="checkbox", name="preferredTraining14")

      .panel-footer
        .container
          .col-sm-3
            .input-group
              span.input-group-addon 填报人
              input.form-control(type="text", name="editor", placeholder="输入姓名")
          .col-sm-3
            .input-group
              span.input-group-addon 审核人
              input.form-control(type="text", name="auditor", placeholder="输入姓名")
          .col-sm-5
            .input-group
              span.input-group-addon 填报日期
              input.form-control(type="text", disabled="disabled", placeholder="填报日期")
          .col-sm-10
            br
          .col-sm-7.col-sm-offset-2
              button.btn.btn-lg.btn-block.btn-success(type="submit", role="button") 保存登记表
