extends layout
block content
  //link(rel="stylesheet" href="/stylesheets/signin.css")
  link(rel="stylesheet" href="/stylesheets/navbar-fixed-top.css")
  //h1= title
  include nav.jade
  .container
    form.panel.panel-info(role="form", action="/item", method="POST")
      .panel-heading
        //.container
        h1.text-center 劳动力资源登记表
      .panel-body
        .col-sm-9
          div(style="width: 33%; float: left;")
            .input-group
              span.input-group-addon 姓 名
              input.form-control(type="text", name="username", placeholder="输入姓名", required="required")
          div(style="width: 40%; float: left;")
            .input-group
              span.input-group-addon 身份证号
              input.form-control(type="text", name="idNumber", placeholder="输入身份证号", required="required")
          div(style="width: 27%; float: left;")
            .input-group
              span.input-group-addon 民 族
              select.form-control(name="nation")
                option(value="汉族") 汉族
                option(value="蒙古族") 蒙古族
                option(value="回族") 回族
                option(value="藏族") 藏族
                option(value="维吾尔族") 维吾尔族
                option(value="苗族") 苗族
                option(value="彝族") 彝族
          .input-group
            span.input-group-addon 年 龄
            input.form-control(type="text", name="age" readonly="readonly", tabindex="-1")
            span.input-group-addon 性 别
            input.form-control(type="text", name="gender", readonly="readonly", tabindex="-1")
            span.input-group-addon 就业失业登记证号
            input.form-control(type="text", name="workRegisterId", readonly="readonly", tabindex="-1")
          .input-group
            span.input-group-addon 地 址
            input.form-control(type="text", name="address", readonly="readonly", tabindex="-1")
            span.input-group-addon 行政区划代码
            input.form-control(type="text", name="districtId", readonly="readonly", tabindex="-1")

          div(style="width: 33%; float: left;")
            .input-group
              span.input-group-addon 学 历
              select.form-control(name="education")
                option(value="小学及以下") 小学及以下
                option(value="初中") 初中
                option(value="高中") 高中
                option(value="中专中技") 中专中技
                option(value="大专") 大专
                option(value="本科及以上") 本科及以上
          div(style="width: 33%; float: left;")
            .input-group
              span.input-group-addon 毕业时间
              input.form-control(type="text", name="graduateDate")
          div(style="width: 34%; float: left;")
            .input-group
              span.input-group-addon 联系电话
              input.form-control(type="text", name="phone", placeholder="输入联系电话")
          div(style="width: 33%; float: left;")
            .input-group
              span.input-group-addon 户口性质
              select.form-control(name="censusRegisterType")
                option 农业户口
                option 非农业户口
          div(style="width: 33%; float: left;")
            .input-group
              span.input-group-addon 政治面貌
              select.form-control(name="politicalOutlook")
                option 群众
                option 中共党员
                option 团员
                option 民主人士
                option 其他
          div(style="width: 34%; float: left;")
            .input-group
              span.input-group-addon 婚姻状况
              select.form-control(name="marriage", placeholder="是否结婚")
                option 已婚
                option 未婚
        .col-sm-3
          img.img-thumbnail(src="/images/test.jpg", alt="- - 正面免冠照片 - -", style="height:170px;")
        .col-sm-12
          br
        .col-sm-12
          .panel.panel-default
            .panel-heading.text-center
              strong 劳动技能/已享受就业服务信息
            .panel-body
                .input-group
                  span.input-group-addon 职业培训
                  select.form-control(name="trainingType")
                    option 无
                    option 职业培训
                    option 创业培训
                    option 企业高技能人才培训
                  span.input-group-addon 培训项目
                  input.form-control(type="text", name="postTraining", list="courses", placeholder="输入培训名称")
                  datalist#courses
                    option 服装缝纫
                    option 制鞋
                    option 电子技术
                    option 电脑
                    option 家电维修
                    option 电工
                    option 焊工
                    option 数控车床
                    option 家政服务
                    option 保安
                    option 烹饪
                    option 服务员
                    option 美容美发
                    option 商业营销
                  span.input-group-addon 国家职业资格证书
                  select.form-control(name="technicalGrade")
                    option 无
                    option 初级技工
                    option 中级技工
                    option 高级技工
                    option 技师
                    option 高级技师
                br
                .input-group
                  span.input-group-addon 已享受就业服务
                  select.form-control(name="postService")
                    option 无
                    option 职业介绍
                    option 职业培训
                    option 职业技能鉴定
                    option 社会保险补贴
                    option 公益性岗位安置
                    option 小额担保贷款
                    option 就业见习
                    option 其他服务
                  span.input-group-addon 已享受其他服务
                  input.form-control(type="text", name="extraPostService", placeholder="输入服务名称")

        .col-sm-12
          .panel.panel-default
            .panel-heading.text-center
              strong 个人就业信息
            .panel-body
              include jobSpec.jade

        .col-sm-12
          .panel.panel-default
            .panel-heading.text-center
              strong 参加社会保险信息（多选）
            .panel-body
              .col-sm-4
                label.checkbox-inline 城镇职工养老保险
                  input(type="checkbox", name="insurance0")
              .col-sm-4
                label.checkbox-inline 城镇居民养老保险
                  input(type="checkbox", name="insurance1")
              .col-sm-4
                label.checkbox-inline 新型农村养老保险
                  input(type="checkbox", name="insurance2")
              .col-sm-4
                label.checkbox-inline 城镇职工医疗保险
                  input(type="checkbox", name="insurance3")
              .col-sm-4
                label.checkbox-inline 城镇居民医疗保险
                  input(type="checkbox", name="insurance4")
              .col-sm-4
                label.checkbox-inline 失业保险
                  input(type="checkbox", name="insurance5")
              .col-sm-4
                label.checkbox-inline 工伤保险
                  input(type="checkbox", name="insurance6")
              .col-sm-4
                label.checkbox-inline 新型农村合作医疗保险
                  input(type="checkbox", name="insurance7")

      .panel-footer
        .container
          .col-sm-3.col-sm-offset-1
            .input-group
              span.input-group-addon 填报人
              input.form-control(type="text", name="editor", placeholder="输入姓名")
          .col-sm-2
          .col-sm-4
            .input-group
              span.input-group-addon 填报日期
              input.form-control(type="text", name="registerDate", disabled="disabled", tabindex="-1", placeholder="填报日期")
          .col-sm-10
            br
          .col-sm-7.col-sm-offset-2
              button.btn.btn-lg.btn-block.btn-success(type="submit", role="button") 保存登记表
