.row
  .col-sm-3.col-sm-offset-3.text-center
    label.radio-inline <strong>已就业信息</strong>
      input(type="radio", name="employment", value="已就业信息", checked="checked")
  .col-sm-3.text-center
    label.radio-inline <strong>暂未就业信息</strong>
      input(type="radio", name="employment", value="暂未就业信息")
br
.col-sm-12
  .panel.panel-default
    .panel-heading.text-center
      strong 已就业信息
    .panel-body
      .col-sm-12
        .input-group
          span.input-group-addon 就业单位
          input.form-control(type="text", name="employer")

      .col-sm-12
        br
      .col-sm-12
        .panel.panel-default
          .panel-heading.text-center
            | 主要从事工种
          .panel-body
            .col-sm-3
              label.checkbox-inline 家电维修
                input(type="checkbox", name="jobType0")
            .col-sm-3
              label.checkbox-inline 缝纫工
                input(type="checkbox", name="jobType1")
            .col-sm-3
              label.checkbox-inline 木工
                input(type="checkbox", name="jobType2")
        div(style="width: 50%; float: left")
          .input-group
            span.input-group-addon 从事产业类型
            select.form-control(name="industry")
              option 第一产业
              option 第二产业
              option 第三产业
        div(style="width: 50%; float: left")
          .input-group
            span.input-group-addon 就业时间
            input.form-control(type="text", name="startWorkTime")

        div(style="width: 50%; float: left")
          .input-group
            span.input-group-addon 就业地点
            select.form-control(name="workplace")
              option 县内
              option 县外市内
              option 市外省内
              option 外省
              option 境外
        div(style="width: 50%; float: left")
          .input-group
            span.input-group-addon 外出省份
            select.form-control(name="workProvince")
              option 北京
              option 上海
              option 广东
              option 重庆
              option 海南
        div(style="width: 50%; float: left")
          .input-group
            span.input-group-addon 年收入
            input.form-control(type="number", name="salary")
        div(style="width: 50%; float: left")
          .input-group
            span.input-group-addon 就业形式
            select.form-control(name="jobForm")
              option 灵活就业
              option 企业
              option 个体工商
              option 机关事业单位
              option 自主创业
              option 公益性岗位
              option 务农
              option 其他

.col-sm-12
  .panel.panel-default
    .panel-heading.text-center
      strong 暂未就业信息
    .panel-body
      .col-sm-12
        div(style="width: 50%; float: left")
          .input-group
            span.input-group-addon 人员身份
            select.form-control(name="humanCategory")
              option 纯农户农民
              option 返乡农民工
              option 高校毕业生
              option 复员军人
              option 待业失业人员
              option 其他
        div(style="width: 50%; float: left")
          .input-group
            span.input-group-addon 失业时间
            input.form-control(type="text", name="unemployedDate")
        div(style="width: 50%; float: left")
          .input-group
            span.input-group-addon 失业原因
            select.form-control(name="unemploymentCause")
              option 其他符合失业登记条件
              option 从各类学校毕业、肄业
              option 从企业、机关、事业单位等各类用人单位失业
              option 个体工商户业主或者私营企业业主停业、破产停止经营
              option 承包土地被征用并符合规定条件
              option 军人退出现役且未纳入国家统一安置
              option 刑满释放、假释、监外执行或解除劳动教养
        div(style="width: 50%; float: left")
          .input-group
            span.input-group-addon 困难群体情况
            select.form-control(name="familyType")
              option 其他
              option 4050人员
              option 零就业家庭
              option 城市低保人员
              option 身体残疾人员
              option 失地农民
              option 军队退役人员
              option 烈士家属
              option 抚养未成年子女单亲家庭

      .col-sm-12
        br
      .col-sm-12
        .panel.panel-default
          .panel-heading.text-center
            | 就业工种意向（多选）
          .panel-body
            .col-sm-3
              label.checkbox-inline 家电维修
                input(type="checkbox", name="preferredJobType0")
            .col-sm-3
              label.checkbox-inline 缝纫工
                input(type="checkbox", name="preferredJobType1")
            .col-sm-3
              label.checkbox-inline 木工
                input(type="checkbox", name="preferredJobType2")
            .col-sm-3
              label.checkbox-inline 油漆工
                input(type="checkbox", name="preferredJobType3")
            .col-sm-3
              label.checkbox-inline 车工
                input(type="checkbox", name="preferredJobType4")
            .col-sm-3
              label.checkbox-inline 钳工
                input(type="checkbox", name="preferredJobType5")
            .col-sm-3
              label.checkbox-inline 电工
                input(type="checkbox", name="preferredJobType6")
            .col-sm-3
              label.checkbox-inline 焊工
                input(type="checkbox", name="preferredJobType7")
            .col-sm-3
              label.checkbox-inline 钢筋工
                input(type="checkbox", name="preferredJobType8")
            .col-sm-3
              label.checkbox-inline 砌筑工
                input(type="checkbox", name="preferredJobType9")
            .col-sm-3
              label.checkbox-inline 铸造工
                input(type="checkbox", name="preferredJobType10")
            .col-sm-3
              label.checkbox-inline 家政服务
                input(type="checkbox", name="preferredJobType11")
            .col-sm-3
              label.checkbox-inline 营业员
                input(type="checkbox", name="preferredJobType12")
            .col-sm-3
              label.checkbox-inline 保安
                input(type="checkbox", name="preferredJobType13")
            .col-sm-3
              label.checkbox-inline 汽车维修
                input(type="checkbox", name="preferredJobType14")
            .col-sm-3
              label.checkbox-inline 管理人员
                input(type="checkbox", name="preferredJobType15")
            .col-sm-3
              label.checkbox-inline 烹饪
                input(type="checkbox", name="preferredJobType16")
            .col-sm-3
              label.checkbox-inline 制鞋
                input(type="checkbox", name="preferredJobType17")
            .col-sm-3
              label.checkbox-inline 电脑
                input(type="checkbox", name="preferredJobType18")
            .col-sm-3
              label.checkbox-inline 通信工程
                input(type="checkbox", name="preferredJobType19")
            .col-sm-3
              label.checkbox-inline 美容美发
                input(type="checkbox", name="preferredJobType20")
            .col-sm-3
              label.checkbox-inline 商业营销
                input(type="checkbox", name="preferredJobType21")
            .col-sm-12
              br
            .col-sm-12
              .input-group
                span.input-group-addon 其他工种意向
                input.form-control(type="text", name="extraPreferredJobType", placeholder="输入其他工种名称")

      .col-sm-12
        div(style="width: 50%; float: left")
          .input-group
            span.input-group-addon 工资收入期望（年）
            input.form-control(type="text", name="preferredSalary")
        div(style="width: 50%; float: left")
          .input-group
            span.input-group-addon 就业产业意向
            select.form-control(name="preferredIndustry")
              option 第一产业
              option 第二产业
              option 第三产业
        div(style="width: 50%; float: left")
          .input-group
            span.input-group-addon 就业区域意向
            select.form-control(name="preferredWorkplace")
              option 县内
              option 县外市内
              option 市外省内
              option 外省
              option 境外
        div(style="width: 50%; float: left")
          .input-group
            span.input-group-addon 就业形式意向
            select.form-control(name="preferredJobForm")
              option 机关事业单位
              option 企业
              option 个体工商
              option 灵活就业
              option 自主创业
              option 公益性岗位
              option 务农
              option 其他

      .col-sm-12
        br
      .col-sm-12
        .panel.panel-default
          .panel-heading.text-center
            | 就业服务需求（多选）
          .panel-body
            .col-sm-3
              label.checkbox-inline 职业介绍
                input(type="checkbox", name="preferredService0")
            .col-sm-3
              label.checkbox-inline 职业培训
                input(type="checkbox", name="preferredService1")
            .col-sm-3
              label.checkbox-inline 职业技能鉴定
                input(type="checkbox", name="preferredService2")
            .col-sm-3
              label.checkbox-inline 社会保险补贴
                input(type="checkbox", name="preferredService3")
            .col-sm-3
              label.checkbox-inline 公益性岗位安置
                input(type="checkbox", name="preferredService4")
            .col-sm-3
              label.checkbox-inline 小额担保贷款
                input(type="checkbox", name="preferredService5")
            .col-sm-3
              label.checkbox-inline 就业见习
                input(type="checkbox", name="preferredService6")
            .col-sm-12
              br
            .col-sm-12
              .input-group
                span.input-group-addon 其他服务需求
                input.form-control(type="text", name="extraPreferredService", placeholder="输入服务名称")

      .col-sm-12
        .input-group
          span.input-group-addon 培训需求意向
          label.input-group-addon
            span
              input(type="radio" name="preferredTraining", checked="checked")
              | 无
          label.input-group-addon
            span
              input(type="radio" name="preferredTraining")
              | 职业培训
          label.input-group-addon
            span
              input(type="radio" name="preferredTraining")
              | 创业培训
          label.input-group-addon
            span
              input(type="radio" name="preferredTraining")
              | 企业高技能人才培训
