nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
  // Brand and toggle get grouped for better mobile display
  .container
    .navbar-header
      button.navbar-toggle(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="#") Brand
    // Collect the nav links, forms, and other content for toggling
    .collapse.navbar-collapse#bs-example-navbar-collapse-1
      ul.nav.navbar-nav
        li.active
          a(href="/") 首页
        li.dropdown
          a.dropdown-toggle(href="#", data-toggle="dropdown") 信息维护
            b.caret
          ul.dropdown-menu
            li
              a(href="/item") 新增人员信息
            li
              a(href="/update") 修改人员信息
            li
              a(href="/delete") 删除人员信息
            li.divider
            li
              a(href="/export") 导出数据到文件

        li.dropdown
          a.dropdown-toggle(href="#", data-toggle="dropdown") 台账
            b.caret
          ul.dropdown-menu
            li
              a(href="/tables/farmerInCounty") 农村劳动力转移就业人员（县内）
            li
              a(href="/tables/farmerOutCounty") 农村劳动力转移就业人员（县外）
            li
              a(href="/tables/townsfolk") 城镇劳动力（居民）就业人员
            li
              a(href="/tables/graduate") 大、中专毕业生就业
            li.divider
            li
              a(href="/tables/annual") 劳动力资源登记台帐
            li
              a(href="/tables/summary") 劳动力资源统计汇总表
        li
          a(href="/search") 检索
      form.navbar-form.navbar-left(role="search").hidden
        .form-group
          input.form-control(type="text", name="search", placeholder="Search")
        button.btn.btn-default(type="submit") Submit

      ul.nav.navbar-nav.navbar-right
        li.dropdown
          a.dropdown-toggle(href="#", data-toggle="dropdown") 系统管理
            b.caret
          ul.dropdown-menu
            //- var adminArea = "塔峰镇早禾村"
            li
              p.text-center 账号管辖区域：
              p.text-center= "-- " + adminArea + " --"
            li.divider
            li
              a(href="/account") 独立账号管理
            li
              a(href="/batchAccount") 关联账号管理
            li
              a(href="/resetPassword") 账号密码修改
        li
          a(href="/help") 帮助
        li
          a(href="/logout") <strong>退出系统</strong>
          //button#logout.btn.navbar-btn.btn-primary(type="button") 退出系统