extends layout
block content
  //link(rel="stylesheet" href="/stylesheets/navbar-fixed-top.css")
  //h1= title
  include nav.jade
  .container
    h1.text-center(style="color: red;") 无法添加信息到系统
    h3.text-center 该身份证号已在其他行政区登记，不能重复登记
    br
    .col-sm-4.col-sm-offset-4
      a.btn.btn-lg.btn-block.btn-primary(href="/item") 返回修改数据
    .col-sm-4.col-sm-offset-4.text-center
      br
      p 本页面3秒钟后会自动返回
      p 劳动力资源登记表页面
  script.
    setTimeout(function() {history.back();}, 3000);