extends layout
block content
  //link(rel="stylesheet" href="/stylesheets/signin.css")
  link(rel="stylesheet" href="/stylesheets/navbar-fixed-top.css")
  //h1= title
  include nav.jade
  .container
    .panel.panel-info
      .panel-heading
        //.container
        h1.text-center 劳动力资源查询
      .panel-body
        .col-sm-3.text-right
          h3 查询条件：
        .col-sm-8
          br
          .input-group
            span.input-group-addon 姓 名
            input.form-control(type="text", name="username")
          .input-group
            span.input-group-addon 年 龄
            span.input-group-addon 从
            input.form-control(type="number", name="ageMin")
            span.input-group-addon 到
            input.form-control(type="number", name="ageMax")
          .input-group
            span.input-group-addon 性 别
            select.form-control(name="gender")
              option 不限
              option 男
              option 女
          .input-group
            span.input-group-addon 民 族
            select.form-control(name="nation")
              option 不限
              each value, key in nations
                option= value
          .input-group
            span.input-group-addon 居住地点
            select.form-control(name="nation")
              optgroup(label="不限区域")
                option(value="0") 不限区域
              each value, key in districtName['431127']
                optgroup(label=value)
                  option(value=key) 辖区所有范围
                  each v, k in districtName[key]
                    option(value=k)= v

          .input-group
            span.input-group-addon 工作地点
            select.form-control(name="nation")
              option 不限
              option 县内
              option 县外市内
              option 市外省内
              option 外省
              option 境外
          .input-group
            span.input-group-addon 就业状态
            select.form-control(name="employment")
              option 不限
              option 已就业
              option 暂未就业
          .input-group
            span.input-group-addon 户口性质
            select.form-control(name="censusRegisterType")
              option 不限
              option 农业户口
              option 非农业户口
          .input-group
            span.input-group-addon 文化程度
            select.form-control(name="education")
              option 不限
              option(value="小学及以下") 小学及以下
              option(value="初中") 初中
              option(value="高中") 高中
              option(value="中专中技") 中专中技
              option(value="大专") 大专
              option(value="本科及以上") 本科及以上
          .input-group
            span.input-group-addon 意愿工种
            select.form-control(name="preferredJobType")
              option 不限
              option 单位负责人
              option 专业、技术人员
              option 办事人员
              option 商业、服务业人员
              option 农林牧渔水利生产人员
              option 生产运输工人
              option 其他
        .col-sm-4.col-sm-offset-2
          br
          button.btn.btn-block.btn-lg.btn-default.btn-success 查 询
        .col-sm-4.col-sm-offset-1
          br
          button.btn.btn-block.btn-lg.btn-default.btn-success 导 出
        .col-sm-12#initAccountMsg.text-center
          br
  script(src="/javascripts/search.js")